<h1>New Shop</h1>

<%= form_for :shop, url: shops_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :shop_type %><br>
    <%= f.text_field :shop_type %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>

<%= link_to 'Back', shops_path %>
