<%= form_for [@shop, @drink] do |f| %>

  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@drink.errors.count, "error") %> prohibited
        this drink from being saved:
      </h2>
      <ul>
        <% @drink.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.label :kind_of_drink %><br>
    <%= f.text_field :kind_of_drink %>
  </p>

  <p>
    <%= f.label :roast %><br>
    <%= f.text_field :roast %>
  </p>

  <p>
    <%= f.label :flavor %><br>
    <%= f.text_field :flavor %>
  </p>

  <p>
    <%= f.label :shop %><br>
    <%= f.select :shop_id, Shop.all.collect { |p| [ p.name, p.id ] }, include_blank: "Select A Coffee Shop" %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
