<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @drink.kind_of_drink %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @drink.roast %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @drink.flavor %>
</p>

 <%= link_to 'Back', drinks_path, :class => 'fa fa-arrow-left' %> <%= link_to 'Edit', edit_drink_path(@drink), :class => 'fa fa-pencil-square-o' %> <%= link_to 'Delete', drink_path(@drink),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'fa fa-pencil-square-o' %>
