<h1><%= @drink.name %></h1>
<div id="nav-links">
  <%= link_to 'Back', [@drink.shop, @shop], :class => 'fa fa-arrow-left' %> <%= link_to 'Delete Coffee', [@drink.shop, @drink],
               method: :delete,
               data: { confirm: 'Are you sure?' }, :class => 'fa fa-trash-o' %> <%= link_to 'Edit Coffee', edit_shop_drink_path(@drink.shop, @drink), :class => 'fa fa-pencil-square-o' %>
</div>
<% if @drink.img_url == "" %>
<% @drink.img_url = @placeholder_drink %>
<% end %>
<img class="drink" src="<%= @drink.img_url %>">
<p>
  <strong>Type:</strong>
  <%= @drink.kind_of_drink %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @drink.roast %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @drink.flavor %>
</p>
